/************
mixins
*************/

// breakpoints
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

  // fonts
  @mixin fs($sizeValue: 16) {
    font-size: calc($sizeValue / 10) + rem;
    font-size: $sizeValue + px;
  }

/************
vars
*************/

$red: #b81a0a;
$yellow: #dd8d1d;
$white: #f2f4f3;
$black: #0a0908;
$gunmetal: #22333b;

$max-width: 1300px;

/************
fonts
*************/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,600;1,600&family=Montserrat:ital@0;1&display=swap');

$heading-font: 'Barlow Condensed', sans-serif;
$body-font: 'Montserrat', sans-serif;
/************
bird animation
*************/

@keyframes birdMove {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

/************
fix boxes
*************/

* {
    box-sizing: border-box;
}

/************
general
*************/
html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
    //background: url('../img/bg.png');
    background-color: $black;
    margin: 0;
    color: $white;
    font-family: $body-font;
    @include fs(16);
}

#root {
    max-width: $max-width;
    padding: 0 4rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    line-height: 1;
}
h1 {
    @include fs(54);
}
h2 {
    @include fs(42);
}
h3 {
    @include fs(30);
}
h4 {
    @include fs(20);
}
a {
    color: $yellow;
    text-decoration: none;
    &:hover, 
    &:active {
        filter: brightness(0.85);
    }
}

// To make videos responsive
.resp-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    border: 1px solid $white;
    overflow: hidden;
    iframe,
    object,
    embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/************
buttons
*************/

.btn {
    display: inline-block;
    min-width: 350px;
    background: transparent;
    color: $white;
    border: 2px solid $red;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    &:hover {
        background-color: rgba($red, .2);
    }
    @include for-size(phone-only) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
    }
}

/************
header styles
*************/

.header {
    position: relative;
    padding: 10rem 0 8.5rem;
    margin: 0 0 1.5rem;
    max-width: $max-width;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -4rem;
        width: 100vw;
        height: 100%;
        background: url('../img/bg.jpg') no-repeat center;
        background-size: cover;
        opacity: .4;
    }
    &__title {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    &__img--logo {
        position: relative;
        z-index: 0;
        width: 35%;
        margin: 0 auto;
        display: block;
        filter: invert(99%) sepia(1%) saturate(4349%) hue-rotate(189deg) brightness(118%) contrast(80%);
    }
    &__img--bird {
        position: relative;
        z-index: 1;
        top: -15px;
        width: 25%;
        margin: 0 auto;
        display: block;
        filter: invert(13%) sepia(69%) saturate(2476%) hue-rotate(369deg) brightness(160%) contrast(106%);
        animation: birdMove 1000ms;
    }
    @include for-size(phone-only) {
        padding: 4rem 0 2.5rem;
        &__img--logo {
            width: 50%;
        }
        &__img--bird {
            width: 35%;
            top: -10px;
        }
    }
}
.header-small {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -4rem;
        width: 100vw;
        height: 100%;
        background: url('../img/bg.jpg') no-repeat center;
        background-size: cover;
        opacity: .7;
        z-index: -1;
    }
    &__img--logo {
        position: relative;
        z-index: 0;
        width: 100px;
        display: block;
        filter: invert(99%) sepia(1%) saturate(4349%) hue-rotate(189deg) brightness(118%) contrast(80%);
    }
}

/************
main styles
*************/

.main {
    padding: 0 0 3rem;
    margin: 0 0 3rem;
    text-align: center;
    &__feature-video {
        position: relative;
        margin: 0 0 3rem;
        padding: 3rem 10%;
        text-align: center;
    }
    &__link-list {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    &__link-list-item {
        list-style: none;
        margin: 0 0 1rem;
        padding: 0;
    }
    &__bio-releases {
        display: flex;
        justify-content: center;
        padding: 3rem 0;
        max-width: $max-width;
        text-align: left;
        .bio {
            width: 66%;
        }
        .releases {
            width: 33%;
            .iframe > div {
                font-size: 10px;
                color: #ccc;
                line-break: anywhere;
                word-break: normal;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
                font-weight: 100;
            }
        }
    }
    &__photos {
        text-align: left;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
    }
    &__photos-heading {
        width: 100%;
    }
    &__photos-photo {
        width: 31%;
        img {
            width: 100%;
        }
    }
    &__videos {
        text-align: left;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
    &__video-heading {
        width: 100%;
    }
    &__videos-video {
        width: 49%;
    }
    @include for-size(phone-only) {
        &__feature-video {
            padding: 0;
        }
        &__photos-photo {
            width: 100%;
        }
        &__videos-video {
            width: 100%;
        }
        &__bio-releases {
            display: block;
            .bio {
                width: 100%;
            }
            .releases {
                width: 100%;
            }
        }
    }
}

/************
footer styles
*************/

.footer {
    padding: 3rem 0;
    margin: 3rem 0;
    &__social-link-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    &__social-link-list-item {
        list-style: none;
        .social-svg {
            &:hover {
                background: $white;
            }
        }
    }
}