/************
mixins
*************/

@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

/************
vars
*************/

$red: #b81a0a;
$white: #e6e6e6; 

/************
bird animation
*************/

@keyframes birdMove {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

/************
fix boxes
*************/

* {
    box-sizing: border-box;
}

/************
centering
*************/

body {
    background-color: #000;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    @include for-size(phone-only) {
        height: auto;
    }
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

/************
buttons
*************/

.btn {
    display: inline-block;
    min-width: 350px;
    background: transparent;
    color: $white;
    border: 2px solid $red;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    &:hover {
        background-color: rgba($red, .2);
    }
    @include for-size(phone-only) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
    }
}

/************
header styles
*************/

.header {
    margin: 3rem 1rem;
    &__title {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    &__img--logo {
        width: 50%;
        margin: 0 auto;
        display: block;
        filter: invert(99%) sepia(1%) saturate(4349%) hue-rotate(189deg) brightness(118%) contrast(80%);
    }
    &__img--bird {
        width: 15%;
        margin: 0 auto;
        display: block;
        filter: invert(13%) sepia(69%) saturate(2476%) hue-rotate(369deg) brightness(160%) contrast(106%);
        animation: birdMove 1000ms;
    }
    @include for-size(phone-only) {
        &__img--logo {
            width: 100%;
        }
        &__img--bird {
            width: 40%;
        }
    }
}

/************
main styles
*************/

.main {
    margin: 3rem 1rem;
    &__video-wrapper {
        margin: 0 0 3rem;
        padding: 3rem 10%;
        text-align: center;
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;
    }
    &__video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        iframe,
        object,
        embed { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__link-list {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    &__link-list-item {
        list-style: none;
        margin: 0 0 1rem;
        padding: 0;
    }
}

/************
footer styles
*************/

.footer {
    margin: 3rem 1rem;
    &__social-link-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    &__social-link-list-item {
        list-style: none;
        .social-svg {
            &:hover {
                background: $white;
            }
        }
    }
}